.unisearch {
    width: 400px;
    min-height: 40px;
    background: rgba(0,0,0,1);
    position: absolute;
    z-index: 10000;
    top: 45%;
    left: 50%;
    margin-left: -200px;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transition-property: min-height, width, top, left, margin-left, background;
    transition-property: min-height, width, top, left, margin-left, background;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.unisearch.open {
    background: transparent;
    width: 100%;
    min-height: 100%;
    top: 0px;
    left: 0px;
    margin-left: 0px;
}

.unisearch-form {
    width: 100%;
    height: 40px;
    margin: 0 auto;
    position: relative;
    -webkit-transition-property: width, height, -webkit-transform;
    transition-property: width, height, transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.unisearch.open .unisearch-form {
    width: 80%;
    height: 160px;
    -webkit-transform: translate3d(0,3em,0);
    transform: translate3d(0,3em,0);
}

.unisearch-input {
    width: 100%;
    height: 100%;
    padding: 0 10% 0 10px;
    border: none;
    background: transparent;
    font-size: 0.9em;
    color: #8e82d7;
    font-weight: 500;
    -webkit-transition: font-size 0.5s cubic-bezier(0.7,0,0.3,1);
    transition: font-size 0.5s cubic-bezier(0.7,0,0.3,1);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.unisearch-input::-ms-clear { /* remove cross in IE */
    display: none;
}

.unisearch.hideInput .unisearch-input {
    color: transparent;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.unisearch.open .unisearch-input {
    font-size: 5em;
    font-weight: 500;
}

/* placeholder */
.unisearch-input::-webkit-input-placeholder {
    color: #c2c2c2;
}

.unisearch-input:-moz-placeholder {
    color: #c2c2c2;
}

.unisearch-input::-moz-placeholder {
    color: #c2c2c2;
}

.unisearch-input:-ms-input-placeholder {
    color: #c2c2c2;
}

/* hide placeholder when active in Chrome */
.gn-search:focus::-webkit-input-placeholder {
    color: transparent;
}

input[type="search"] { /* reset normalize */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.unisearch-input:focus,
.unisearch-submit:focus {
    outline: none;
}

.unisearch-submit {
    position: absolute;
    width: 80px;
    height: 80px;
    text-indent: 100px;
    overflow: hidden;
    right: 0;
    top: 50%;
    background: transparent url(../img/search.svg) no-repeat center center;
    background-size: 100%;
    border: none;
    pointer-events: none;
    transform-origin: 50% 50%;
    opacity: 0;
    -webkit-transform: translate3d(-30px,-50%,0) scale3d(0,0,1);
    transform: translate3d(-30px,-50%,0) scale3d(0,0,1);
}

.unisearch.open .unisearch-submit {
    pointer-events: auto;
    opacity: 1;
    -webkit-transform: translate3d(-30px,-50%,0) scale3d(1,1,1);
    transform: translate3d(-30px,-50%,0) scale3d(1,1,1);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.unisearch-close {
    width: 36px;
    height: 36px;
    position: absolute;
    right: 1em;
    top: 1em;
    overflow: hidden;
    text-indent: 100%;
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    -webkit-transform: scale3d(0,0,1);
    transform: scale3d(0,0,1);
}

.unisearch.open .unisearch-close {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.unisearch-close::before,
.unisearch-close::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    left: 50%;
    border-radius: 3px;
    opacity: 0.3;
    background: #aebcc3;
}

.unisearch-close:hover.unisearch-close::before,
.unisearch-close:hover.unisearch-close::after {
    opacity: 1;
}

.unisearch-close::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.unisearch-close::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.unisearch-content {
    color: #333;
    margin-top: 4.5em;
    width: 100%;
    height: 0;
    overflow: hidden;
    padding: 0 10.5%;
    /*background: rgba(0,0,0,0.5);*/
    background: transparent;
    position: absolute;
    pointer-events: none;
    opacity: 0;
}

.unisearch.open .unisearch-content {
    opacity: 1;
    height: auto;
    overflow: visible; /* this breaks the transition of the children in FF: https://bugzilla.mozilla.org/show_bug.cgi?id=625289 */
    pointer-events: auto;
    -webkit-transition: opacity 0.3s 0.5s;
    transition: opacity 0.3s 0.5s;
}

.box-column {
    width: 30%;
    padding: 0 0 6em;
    float: left;
    opacity: 0;
    -webkit-transform: translate3d(0,100px,0);
    transform: translateY(100px);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

.unisearch.open .box-column:first-child {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.unisearch.open .box-column:nth-child(2) {
    -webkit-transition-delay: 0.45s;
    transition-delay: 0.45s;
}

.unisearch.open .box-column:nth-child(3) {
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.unisearch.open .box-column {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.box-column:nth-child(2) {
    margin: 0 5%;
}

.box-column h2 {
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 800;
    color: #c2c2c2;
    padding: 0.5em 0;
}

.round {
    border-radius: 50%;
}

.media-box {
    padding: 0.75em;
    display: block;
    margin: 0.3em 0;
    cursor: pointer;
    border-radius: 5px;
    background: rgba(255,255,255,0.08);
}

.media-box:hover,
.media-box:focus {
    background: rgba(255,255,255,0.15);
}

.media-box img {
    display: inline-block;
    height: 50px;
    margin: 0 5px 0 0;
    vertical-align: middle;
}

.media-box h3 {
    vertical-align: middle;
    font-size: 0.85em;
    display: inline-block;
    font-weight: 600;
    margin: 0 0 0 0;
    width: calc(100% - 80px);
    color: rgba(255,255,255,0.5);
}

.media-box:hover h3 {
    color: rgba(142,130,215,1);
}

/* Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.unisearch.open ~ .overlay {
    opacity: 1;
}

.moving-object {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: transparent url(../img/earth.png) no-repeat center bottom;
    background-size: 400px 268px;
    opacity: 1;
    -webkit-transition: top 0.5s, background-size 0.5s;
    transition: top 0.5s, background-size 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.unisearch.open ~ .moving-object {
    background-size: 150px 100px;
}

.unisearch.open ~ aside > nav,
.unisearch.open ~ header {
    opacity: 0;
}

@media screen and (max-width: 53.125em) {
    .unisearch-input {
        padding: 0 25% 0 10px;
    }
    .unisearch.open .unisearch-input {
        font-size: 2em;
    }
    .box-column {
        float: none;
        width: auto;
        padding: 0 0 2em;
    }
    .box-column:nth-child(2) {
        margin: 0;
    }
    .unisearch.open .unisearch-submit {
        -webkit-transform: translate3d(0,-50%,0) scale3d(0.5,0.5,1);
        transform: translate3d(0,-50%,0) scale3d(0.5,0.5,1);
    }
}

@media screen and (max-width: 60.625em) {
    .unisearch {
        width: 250px;
        top: 30%;
        left: 50%;
        margin-left: -125px;
    }
}